*.suo
*.tlog
*.log
*.sdf
*.exe
*.link
*.ilk
*.user
*.obj
*.idb
*.pdb
*.lastbuildstate
*.dll
*.lib
*.exp
*.res
*.cache
*.vhost
*.manifest
*.opensdf
*.db
*.pch
*.ipch
*.ini
*.opendb
*.iobj
*.ipdb
*.sln
*.spv
*.spirv
*.aps
RC*

Debug/
Release/
obj/
Temp/
Doc/Jupyter Notebook/.ipynb_checkpoints/
.hg/
.vs/
Intermediate/
ThirdParty/GUI/AntTweakBar/src/TwDirect3D11_LineRectCstColorVS.h
ThirdParty/GUI/AntTweakBar/src/TwDirect3D11_LineRectPS.h
ThirdParty/GUI/AntTweakBar/src/TwDirect3D11_LineRectVS.h
ThirdParty/GUI/AntTweakBar/src/TwDirect3D11_TextCstColorVS.h
ThirdParty/GUI/AntTweakBar/src/TwDirect3D11_TextPS.h
ThirdParty/GUI/AntTweakBar/src/TwDirect3D11_TextVS.h
JustForFun/MarioMapEditor/GeneratedFiles/
Application/
Projects/
__pycache__/
/gear/Public/Definitions.Generated.h
Doc/Jupyter Notebook/Test/.ipynb_checkpoints/
Assets/Configurations
Assets/Shaders/Cache
build
