[submodule "Submodules/imgui"]
	path = Submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Submodules/assimp"]
	path = Submodules/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Submodules/stb"]
	path = Submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "Submodules/cereal"]
	path = Submodules/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "Submodules/taskflow"]
	path = Submodules/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "Submodules/spdlog"]
	path = Submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Submodules/filewatch"]
	path = Submodules/filewatch
	url = https://github.com/ThomasMonkman/filewatch.git
[submodule "Submodules/IconFontCppHeaders"]
	path = Submodules/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Assets/glTF-Sample-Assets"]
	path = Assets/glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets.git
[submodule "Submodules/magic_enum"]
	path = Submodules/magic_enum
	url = https://github.com/Neargye/magic_enum.git
