*.suo
*.tlog
*.log
*.sdf
*.exe
*.link
*.ilk
*.user
*.obj
*.idb
*.pdb
*.lastbuildstate
*.dll
*.lib
*.exp
*.res
*.cache
*.vhost
*.manifest
*.opensdf
*.db
*.pch
*.ipch
*.ini
*.opendb
*.iobj
*.ipdb
*.sln
*.spv
*.spirv
*.aps
RC*

Debug/
Release/
obj/
Temp/
.hg/
.vs/
__pycache__/
Assets/Configurations
Assets/Shaders/ShaderCache
Assets/Shaders/Cache
Assets/Materials/*.material
build
Out/Intermediate
Out/*.json
